body{
  text-align: center;
  font-family: Helvetica;
}

h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2{
  font-size: 32px;
  font-weight: bold;
  color: gray;
}

h3{
  font-size: 23px;
  font-weight: bold;
  color: gray;
}

h4{
  font-size: 18px;
  color: white;
  text-decoration: underline
}

p{
  font-size: 14px;
  color: gray;
}

.header{
  background-image: url('images/the-flatiron-building.png');
}

.backgroundtext{
  font-size: 18px;
  color: white;
  text-decoration: underline;
  text-align: left !important;
}
.specialh3{
  background-image: url('images/the-flatiron-building.png');
  color: white;
}

.copyright{
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left !important;
}
